.history-list-item {
  display: flex;
  width: 100%;
  margin: 8px 0;
}

.list-sub-item-1 {
  margin-right: 20px;
}

.time {
  color: #64748b;
  font-weight: 700;
}

.list-sub-item-2 {
  display: flex;
  margin-left: 20px;
  flex-grow: 1;
}

.sub-flex-con {
  display: flex;
  flex-grow: 1;
}

.image {
  margin-top: 5px;
  font-size: 20px;
}

.title {
  margin-left: 10px;
  color: #475569;
}

.domain {
  color: #64748b;
  font-weight: 300;
  margin-left: 10px;
}

.logo-img {
  width: 20px;
  height: 20px;
}

.btn {
  border: 0;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}
.delete-img {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 576px) {
  .history-list-item {
    display: flex;
    flex-direction: column;
  }
}
